
@model IList<Coletti.Models.Funcionario>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Login</th>
            <th>Senha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var funcionario in Model)
        {
            <tr>
                <td>@funcionario.Id</td>
                <td>@funcionario.Nome</td>
                <td>@funcionario.Login</td>
                <td>@funcionario.Senha</td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Adicionar", "Form", "Funcionario")
